In [1]:
import pandas as pd
import biogeme.database as db
import biogeme.biogeme as bio
from biogeme import models
from biogeme.expressions import Beta

In [2]:
df = pd.read_csv('df_mnl.csv')

In [3]:
# if needed, get a random sample of 5000 thousands

# Set the random seed
random_seed = 13

# Get a random sample from the DataFrame
df = df.sample(n=5000, random_state=random_seed)

In [4]:
dummy_df = pd.get_dummies(df['city'])
print(dummy_df.columns.tolist())
df = pd.concat([df, dummy_df], axis=1)

['atlanta', 'chicago', 'dallas', 'houston', 'los_angeles', 'miami', 'new_york', 'philadelphia', 'phoenix', 'seattle', 'washington']

In [5]:
df.time_of_day.value_counts()

16-20    1463
12-16    1400
8-12     1138
20-24     552
4-8       370
0-4        74
Name: time_of_day, dtype: int64

In [6]:
df['morning'] = 0
df.loc[(df.time_of_day == "8-12"), 'morning']=1

df['afternoon'] = 0
df.loc[(df.time_of_day == "12-16"), 'afternoon']=1

df['evening'] = 0
df.loc[(df.time_of_day == "16-20"), 'evening']=1

In [7]:
df = df.drop(columns=['time_of_day', 'city'])

In [8]:
df.mode_of_transport.value_counts()

car         4054
walkbike     482
other        275
transit      189
Name: mode_of_transport, dtype: int64

In [9]:
df['u_1'] = 0
df.loc[(df.mode_of_transport == 'car'), 'u_1']=2
df.loc[(df.mode_of_transport == 'transit'), 'u_1']=3
df.loc[(df.mode_of_transport == 'walkbike'), 'u_1']=4
df.loc[(df.mode_of_transport == 'other'), 'u_1']=1

In [10]:
df = df.drop(columns=['mode_of_transport'])

In [11]:
# Read the data
database = db.Database('database', df)

# The following statement allows you to use the names of the variable as Python variable.
globals().update(database.variables)

In [12]:
df.head()

,Unnamed: 0,index,TUCASEID,TUACTIVITY_N,TUACTDUR24,TRCODEP,TRTIER1P,TRTIER2P,TUCUMDUR,TEWHERE,...,dallas,houston,los_angeles,miami,new_york,philadelphia,phoenix,seattle,washington,u_1
6248,6248,29977,20090807091296,6,15,181101,18,1811,527,13,...,0,0,0,0,0,0,0,0,1,2
1813,1813,8602,20070706070887,14,10,180782,18,1807,790,12,...,0,0,0,0,0,0,0,0,1,2
3195,3195,15108,20070808071658,3,15,180381,18,1803,405,12,...,0,0,0,0,1,0,0,0,0,2
15502,15502,76151,20150807152092,10,45,180481,18,1804,785,12,...,0,0,0,0,1,0,0,0,0,2
14929,14929,73216,20150805150103,11,15,180280,18,1802,865,12,...,0,0,0,0,0,0,0,1,0,2

In [13]:
df.u_1.value_counts()

2    4054
4     482
1     275
3     189
Name: u_1, dtype: int64

In [14]:
df.columns.to_list()

['Unnamed: 0',
 'index',
 'TUCASEID',
 'TUACTIVITY_N',
 'TUACTDUR24',
 'TRCODEP',
 'TRTIER1P',
 'TRTIER2P',
 'TUCUMDUR',
 'TEWHERE',
 'year',
 'TULINENO',
 'TESCHFT',
 'TELFS',
 'TUMONTH',
 'TUDIARYDATE',
 'TUDIARYDAY',
 'weight',
 'day',
 'TESEX',
 'TEAGE',
 'TUWHO_CODE',
 'HUFAMINC',
 'HEFAMINC',
 'PREMPNOT',
 'HRNUMHOU',
 'PRNMCHLD',
 'PTDTRACE',
 'PEEDUCA',
 'PRCITSHP',
 'GTMETSTA',
 'GESTFIPS',
 'msa_code',
 'PEHSPNON',
 'temp',
 'tempf',
 'humid',
 'hi',
 'female',
 'male',
 'age_15_19',
 'age_20_29',
 'age_30_49',
 'age_50_64',
 'age_65p',
 'white',
 'black',
 'asian',
 'less_than_hs',
 'hs_grad',
 'some_col_assc_deg',
 'bachelor',
 'grad_sch',
 'inc_up35',
 'inc_35_50',
 'inc_50_75',
 'inc_75_100',
 'inc_100p',
 'worker',
 'nonworker',
 'student',
 'weekday',
 'hhsize_1',
 'hhsize_2',
 'hhsize_3p',
 'child_present',
 'non_metropolitan',
 'car_trip',
 'traveling',
 'car_user',
 'hisp',
 'non_hisp_white',
 'black_hisp',
 'no_age_65p',
 'in_home',
 'out_home',
 'sleep',
 'per_care',
 'hh_acts',
 'hhmember_care',
 'nhhmember_care',
 'work_act',
 'education',
 'shopping',
 'per_services',
 'hh_services',
 'gov_civic',
 'eating',
 'soc_leisure',
 'recreational',
 'religious',
 'volunteer',
 'phone_calls',
 'unidentified',
 'total',
 'grocery_travel',
 'eating_travel',
 'recrational_travel',
 'social_travel',
 'walk_bike',
 'transit',
 'morning',
 'morning_walk_bike',
 'morning_transit',
 'morning_grocery_travel',
 'morning_recrational_travel',
 'morning_social_travel',
 'afternoon',
 'afternoon_walk_bike',
 'afternoon_transit',
 'afternoon_grocery_travel',
 'afternoon_recrational_travel',
 'afternoon_social_travel',
 'evening',
 'evening_walk_bike',
 'evening_transit',
 'evening_grocery_travel',
 'evening_recrational_travel',
 'evening_social_travel',
 'outdoor_away',
 'in_sleep',
 'out_sleep',
 'in_sleep_dur',
 'out_sleep_dur',
 'in_per_care',
 'out_per_care',
 'in_per_care_dur',
 'out_per_care_dur',
 'in_hh_acts',
 'out_hh_acts',
 'in_hh_acts_dur',
 'out_hh_acts_dur',
 'in_hhmember_care',
 'out_hhmember_care',
 'in_hhmember_care_dur',
 'out_hhmember_care_dur',
 'in_nhhmember_care',
 'out_nhhmember_care',
 'in_nhhmember_care_dur',
 'out_nhhmember_care_dur',
 'in_work_act',
 'out_work_act',
 'in_work_act_dur',
 'out_work_act_dur',
 'in_education',
 'out_education',
 'in_education_dur',
 'out_education_dur',
 'in_shopping',
 'out_shopping',
 'in_shopping_dur',
 'out_shopping_dur',
 'in_per_services',
 'out_per_services',
 'in_per_services_dur',
 'out_per_services_dur',
 'in_hh_services',
 'out_hh_services',
 'in_hh_services_dur',
 'out_hh_services_dur',
 'in_gov_civic',
 'out_gov_civic',
 'in_gov_civic_dur',
 'out_gov_civic_dur',
 'in_eating',
 'out_eating',
 'in_eating_dur',
 'out_eating_dur',
 'in_soc_leisure',
 'out_soc_leisure',
 'in_soc_leisure_dur',
 'out_soc_leisure_dur',
 'in_recreational',
 'out_recreational',
 'in_recreational_dur',
 'out_recreational_dur',
 'in_religious',
 'out_religious',
 'in_religious_dur',
 'out_religious_dur',
 'in_volunteer',
 'out_volunteer',
 'in_volunteer_dur',
 'out_volunteer_dur',
 'in_phone_calls',
 'out_phone_calls',
 'in_phone_calls_dur',
 'out_phone_calls_dur',
 'in_traveling',
 'out_traveling',
 'in_traveling_dur',
 'out_traveling_dur',
 'in_unidentified',
 'out_unidentified',
 'in_unidentified_dur',
 'out_unidentified_dur',
 'in_total',
 'out_total',
 'in_total_dur',
 'out_total_dur',
 'in_grocery_travel',
 'out_grocery_travel',
 'in_grocery_travel_dur',
 'out_grocery_travel_dur',
 'in_eating_travel',
 'out_eating_travel',
 'in_eating_travel_dur',
 'out_eating_travel_dur',
 'in_walk_bike',
 'out_walk_bike',
 'in_walk_bike_dur',
 'out_walk_bike_dur',
 'in_transit',
 'out_transit',
 'in_transit_dur',
 'out_transit_dur',
 'in_morning',
 'out_morning',
 'in_morning_dur',
 'out_morning_dur',
 'in_morning_walk_bike',
 'out_morning_walk_bike',
 'in_morning_walk_bike_dur',
 'out_morning_walk_bike_dur',
 'in_morning_transit',
 'out_morning_transit',
 'in_morning_transit_dur',
 'out_morning_transit_dur',
 'in_morning_grocery_travel',
 'out_morning_grocery_travel',
 'in_morning_grocery_travel_dur',
 'out_morning_grocery_travel_dur',
 'in_morning_recrational_travel',
 'out_morning_recrational_travel',
 'in_morning_recrational_travel_dur',
 'out_morning_recrational_travel_dur',
 'in_morning_social_travel',
 'out_morning_social_travel',
 'in_morning_social_travel_dur',
 'out_morning_social_travel_dur',
 'in_afternoon',
 'out_afternoon',
 'in_afternoon_dur',
 'out_afternoon_dur',
 'in_afternoon_walk_bike',
 'out_afternoon_walk_bike',
 'in_afternoon_walk_bike_dur',
 'out_afternoon_walk_bike_dur',
 'in_afternoon_transit',
 'out_afternoon_transit',
 'in_afternoon_transit_dur',
 'out_afternoon_transit_dur',
 'in_afternoon_grocery_travel',
 'out_afternoon_grocery_travel',
 'in_afternoon_grocery_travel_dur',
 'out_afternoon_grocery_travel_dur',
 'in_afternoon_recrational_travel',
 'out_afternoon_recrational_travel',
 'in_afternoon_recrational_travel_dur',
 'out_afternoon_recrational_travel_dur',
 'in_afternoon_social_travel',
 'out_afternoon_social_travel',
 'in_afternoon_social_travel_dur',
 'out_afternoon_social_travel_dur',
 'in_evening',
 'out_evening',
 'in_evening_dur',
 'out_evening_dur',
 'in_evening_walk_bike',
 'out_evening_walk_bike',
 'in_evening_walk_bike_dur',
 'out_evening_walk_bike_dur',
 'in_evening_transit',
 'out_evening_transit',
 'in_evening_transit_dur',
 'out_evening_transit_dur',
 'in_evening_grocery_travel',
 'out_evening_grocery_travel',
 'in_evening_grocery_travel_dur',
 'out_evening_grocery_travel_dur',
 'in_evening_recrational_travel',
 'out_evening_recrational_travel',
 'in_evening_recrational_travel_dur',
 'out_evening_recrational_travel_dur',
 'in_evening_social_travel',
 'out_evening_social_travel',
 'in_evening_social_travel_dur',
 'out_evening_social_travel_dur',
 'in_outdoor_away',
 'out_outdoor_away',
 'in_outdoor_away_dur',
 'out_outdoor_away_dur',
 'outside',
 'atlanta',
 'chicago',
 'dallas',
 'houston',
 'los_angeles',
 'miami',
 'new_york',
 'philadelphia',
 'phoenix',
 'seattle',
 'washington',
 'u_1']

In [26]:
#### Parameters to be estimated
b1_asc = Beta('b1_asc', 0, None, None, 1)
b2_asc = Beta('b2_asc', 0, None, None, 0)
b3_asc = Beta('b3_asc', 0, None, None, 0)
b4_asc = Beta('b4_asc', 0, None, None, 0)

b2_temp = Beta('b2_temp', 0, None, None, 0)
b3_temp = Beta('b3_temp', 0, None, None, 0)
b4_temp = Beta('b4_temp', 0, None, None, 0)

b2_age_65p = Beta('b2_age_65p', 0, None, None, 0)
b3_worker = Beta('b3_worker', 0, None, None, 0)
b4_new_york = Beta('b4_new_york', 0, None, None, 0)
b2_houston = Beta('b2_houston', 0, None, None, 0)
b3_new_york = Beta('b3_new_york', 0, None, None, 0)
b4_age_15_19 = Beta('b4_age_15_19', 0, None, None, 0)
b4_inc_up35 = Beta('b4_inc_up35', 0, None, None, 0)
b2_inc_100p = Beta('b2_inc_100p', 0, None, None, 0)
b3_bachelor = Beta('b3_bachelor', 0, None, None, 0)
b3_bachelor = Beta('b3_bachelor', 0, None, None, 0)
b4_grad_sch = Beta('b4_grad_sch', 0, None, None, 0)
b2_hhsize_1 = Beta('b2_hhsize_1', 0, None, None, 0)
b2_age_15_19 = Beta('b2_age_15_19', 0, None, None, 0)
b4_age_20_29 = Beta('b4_age_20_29', 0, None, None, 0)
b3_black = Beta('b3_black', 0, None, None, 0)
b4_white = Beta('b4_white', 0, None, None, 0)
b3_washington = Beta('b3_washington', 0, None, None, 0)
b2_dallas = Beta('b2_dallas', 0, None, None, 0)
b2_atlanta = Beta('b2_atlanta', 0, None, None, 0)
b2_phoenix = Beta('b2_phoenix', 0, None, None, 0)
b3_weekday = Beta('b3_weekday', 0, None, None, 0)
b3_afternoon= Beta('b3_afternoon', 0, None, None, 0)
b4_washington = Beta('b4_washington', 0, None, None, 0)


b2_AAAA = Beta('b2_AAAA', 0, None, None, 0)
b3_AAAA = Beta('b3_AAAA', 0, None, None, 0)
b4_AAAA = Beta('b4_AAAA', 0, None, None, 0)

# Definition of the utility functions
V1 = b1_asc 
V2 = b2_asc 
V3 = b3_asc 
V4 = b4_asc 

V2 = (b2_asc  + b2_temp * temp + b2_age_15_19 * age_15_19   + b2_houston*houston 
      + b2_inc_100p * inc_100p + b2_dallas * dallas + b2_atlanta *  atlanta + b2_phoenix*phoenix
      + b2_hhsize_1* hhsize_1 
     )

V3 = (b3_asc + b3_new_york*new_york + b3_bachelor * bachelor 
      + b3_black * black + b3_washington*washington + b3_weekday*weekday + b3_afternoon*afternoon
      )

V4 = (b4_asc  + b4_new_york * new_york   + b4_age_20_29 * age_20_29 
      + b4_inc_up35 * inc_up35 + b4_grad_sch * grad_sch + b4_white*white 
      )

# Associate utility functions with the numbering of alternatives
V = {1: V1, 2: V2, 3: V3, 4: V4}

# Associate the availability conditions with the alternatives
av = {1: 1, 2: 1, 3: 1, 4: 1}

# Definition of the model. This is the contribution of each observation to the log likelihood function.
logprob = models.loglogit(V, av, u_1)

# Create the Biogeme object
biogeme = bio.BIOGEME(database, logprob)
biogeme.modelName = '01logit'

# Calculate the null log likelihood for reporting.
biogeme.calculateNullLoglikelihood(av)

# Estimate the parameters
results = biogeme.estimate()

# get stats
stats = results.getGeneralStatistics()
print(stats)

# Get the results in a pandas table
pandasResults = results.getEstimatedParameters(onlyRobust=False)
# pandasResults = results.getEstimatedParameters()
pandasResults[['Value', 't-test', 'p-value']].round(3)

# get results sorted by variables not by alternatives
dr = pandasResults[['Value', 't-test', 'p-value']].round(3)
dr = dr.reset_index()
dr['flag']=0
dr.loc[(abs(dr['t-test']) < 1.7), 'flag']=99
dr[['alt', 'var' ]] = dr['index'].str.split('_', 1, expand=True)
dr[['var', 'alt', 'Value', 't-test', 'flag']].sort_values('var')

{'Number of estimated parameters': GeneralStatistic(value=22, format=''), 'Sample size': GeneralStatistic(value=5000, format=''), 'Excluded observations': GeneralStatistic(value=0, format=''), 'Null log likelihood': GeneralStatistic(value=-6931.471805599917, format='.7g'), 'Init log likelihood': GeneralStatistic(value=-3162.404837646154, format='.7g'), 'Final log likelihood': GeneralStatistic(value=-3162.404837646154, format='.7g'), 'Likelihood ratio test for the null model': GeneralStatistic(value=7538.133935907526, format='.7g'), 'Rho-square for the null model': GeneralStatistic(value=0.5437614223444931, format='.3g'), 'Rho-square-bar for the null model': GeneralStatistic(value=0.5405874932545376, format='.3g'), 'Likelihood ratio test for the init. model': GeneralStatistic(value=-0.0, format='.7g'), 'Rho-square for the init. model': GeneralStatistic(value=0.0, format='.3g'), 'Rho-square-bar for the init. model': GeneralStatistic(value=-0.006956731073171296, format='.3g'), 'Akaike Information Criterion': GeneralStatistic(value=6368.809675292308, format='.7g'), 'Bayesian Information Criterion': GeneralStatistic(value=6512.1879255034655, format='.7g'), 'Final gradient norm': GeneralStatistic(value=0.012906781714903691, format='.4E'), 'Nbr of threads': GeneralStatistic(value=8, format='')}

C:\Users\ibatur\AppData\Local\Temp\ipykernel_10948\3284264632.py:92: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  dr[['alt', 'var' ]] = dr['index'].str.split('_', 1, expand=True)

           var alt  Value  t-test  flag
9    afternoon  b3 -0.344  -1.848     0
0    age_15_19  b2 -0.884  -5.791     0
16   age_20_29  b4  0.691   4.981     0
17         asc  b4  0.328   2.631     0
10         asc  b3 -1.350  -7.132     0
1          asc  b2  2.579  31.755     0
2      atlanta  b2  0.879   4.644     0
11    bachelor  b3 -0.500  -2.534     0
12       black  b3  1.010   6.256     0
3       dallas  b2  0.674   3.912     0
18    grad_sch  b4  0.315   2.514     0
4     hhsize_1  b2 -0.538  -6.400     0
5      houston  b2  1.055   4.877     0
6     inc_100p  b2  0.196   2.105     0
19    inc_up35  b4  0.456   4.064     0
13    new_york  b3  1.147   6.782     0
20    new_york  b4  0.884   8.176     0
7      phoenix  b2  0.640   2.687     0
8         temp  b2  0.205   2.206     0
14  washington  b3  0.700   3.028     0
15     weekday  b3  0.765   4.749     0
21       white  b4 -0.433  -4.101     0

In [27]:
# rearrange results
dr_wide = dr.pivot(index='var', columns='alt', values=['Value', 't-test'])
dr_wide.fillna('--')

            Value                t-test
alt            b2     b3     b4      b2     b3     b4
var
afternoon      -- -0.344     --      -- -1.848     --
age_15_19  -0.884     --     --  -5.791     --     --
age_20_29      --     --  0.691      --     --  4.981
asc         2.579  -1.35  0.328  31.755 -7.132  2.631
atlanta     0.879     --     --   4.644     --     --
bachelor       --   -0.5     --      -- -2.534     --
black          --   1.01     --      --  6.256     --
dallas      0.674     --     --   3.912     --     --
grad_sch       --     --  0.315      --     --  2.514
hhsize_1   -0.538     --     --    -6.4     --     --
houston     1.055     --     --   4.877     --     --
inc_100p    0.196     --     --   2.105     --     --
inc_up35       --     --  0.456      --     --  4.064
new_york       --  1.147  0.884      --  6.782  8.176
phoenix      0.64     --     --   2.687     --     --
temp        0.205     --     --   2.206     --     --
washington     --    0.7     --      --  3.028     --
weekday        --  0.765     --      --  4.749     --
white          --     -- -0.433      --     -- -4.101

In [28]:
# alternatively
dr_value_wide = dr.pivot(index='var', columns='alt', values='Value')
dr_ttest_wide = dr.pivot(index='var', columns='alt', values='t-test')

dr_wide = pd.concat([dr_value_wide, dr_ttest_wide], axis=1)
dr_wide = dr_wide.sort_index(axis=1)

dr_wide.fillna('--')

alt            b2      b2     b3     b3     b4     b4
var
afternoon      --      -- -0.344 -1.848     --     --
age_15_19  -0.884  -5.791     --     --     --     --
age_20_29      --      --     --     --  0.691  4.981
asc         2.579  31.755  -1.35 -7.132  0.328  2.631
atlanta     0.879   4.644     --     --     --     --
bachelor       --      --   -0.5 -2.534     --     --
black          --      --   1.01  6.256     --     --
dallas      0.674   3.912     --     --     --     --
grad_sch       --      --     --     --  0.315  2.514
hhsize_1   -0.538    -6.4     --     --     --     --
houston     1.055   4.877     --     --     --     --
inc_100p    0.196   2.105     --     --     --     --
inc_up35       --      --     --     --  0.456  4.064
new_york       --      --  1.147  6.782  0.884  8.176
phoenix      0.64   2.687     --     --     --     --
temp        0.205   2.206     --     --     --     --
washington     --      --    0.7  3.028     --     --
weekday        --      --  0.765  4.749     --     --
white          --      --     --     -- -0.433 -4.101